inc/smtp_config.php
uploads/
user_report_uploads/
user_uploads/
temp_chunks/
temp_certificates/
temp/
*.log
*.sql
*.pdf
*.ini
assets/vendor/
admin/vendor/
New folder/
1446pages/
*.bak
*.backup
admin/includes/
.htaccess